@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Lato&family=Montserrat:wght@600&family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-weight: 600;
  font-family: 'Cinzel', serif;
  font-family: 'Fauna One', serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 20px;
  color: #fc5406;
}

.leaderboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  gap: 10px;
  width: 60vw;
  padding: 40px;
}

.inputScores {
  width: 27vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inputScores input {
  padding: 10px;
  width: auto;
  border: 2px solid rgb(243, 210, 22);
  color: #fc5406;
}

#button,
#refresh {
  align-self: flex-end;
  width: 80px;
  margin-right: 93px;
  padding: 4px;
  background-color: rgb(243, 210, 22);
  border: 1px solid rgb(243, 210, 22);
  color: #fc5406;
}

.recent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.liste {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 30px 10px 20px;
}

#listScore {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table {
  margin-top: 10px;
}

#listScore td,
#listScore th {
  border: 1px solid #ddd;
  padding: 8px;
}

#listScore tr:nth-child(even) { background-color: #f2f2f2; }

#listScore tr:hover { background-color: #ddd; }

#listScore th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fcae06;
  color: white;
}
